body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;     
}

.navbar{
  font-family: 'Montserrat Alternates', sans-serif;
}

#category{
  padding: 5% 6%;
}
#product-cards{
  padding: 5% 10%;
}

#footer{
 margin-bottom: 2%;
 margin-top: 2%;
  
}
.filter-btns{
  text-align: center;
}
.filter-btn{
  background: none;
  cursor: pointer;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 30px;
  font-size: 16px;
  color: #d3d3d3;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.filter-btn::after{
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #555;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}
.filter-btn:hover{
  color: #555;
}
.filter-btn:hover::after{
  width: 100%;
}
/* active button */
.active-btn{
  color: #555;
}
.active-btn::after{
  width: 100%;
}

.canvas-title{
  text-align: center;
}



/*     Shopping Cart     */

 .btn-purchase{
   text-align: center;
   margin: auto;
   padding: 2%;
   width: 50%;
 }

 #shopping-cart{
   padding: 5% 5%;
 }

 .cart-total{
   text-align: right;
   font-size: 1.3rem;
 }

.up-icon{
   color: black;
   position: fixed;
   float: right;
   z-index: 1;
   left: 95%;
   top: 85%;
   font-size: 2rem;
 }


  /*Footer-top*/
  section#footer-top {
    height: 500px;
    background: rgb(214, 235, 235);
    margin-top: 0;
    border-bottom: 1px solid black;
  }
  section#footer-top .container {
    width: 90%;
    margin: 0 auto;
    height: 450px;
  }
  section#footer-top .boxes {
    display: flex;
  }
  
  section#footer-top .right {
    display: flex;
    width: 30%;
    gap: 30px;
    margin: 0 auto;
    margin-top: 180px;
  }
  
  section#footer-top .right ul li {
    list-style: none;
    line-height: 1.6;
    font-size: 17px;
    font-family: "Inter", sans-serif;
  }
  
  section#footer-top .left {
    width: 40%;
    margin-left: 20px;
    margin-top: 30px;
  }
  
  section#footer-top .left span {
    display: block;
  }
  
  section#footer-top .left h1 span {
    font-size: 60px;
    font-family: "Inter", sans-serif;
  }
  
  section#footer-top .left p span {
    font-size: 18px;
    line-height: 1.8;
  }
  section#footer-top .left form {
    margin-top: 20px;
  }
  
  section#footer-top .left input {
    border: none;
    border-bottom: 1px solid black;
    background: grey;
    height: 30px;
  }
  
  section#footer-top .left button {
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    background: grey;
    font-size: 18px;
    border: 1px solid black;
  }
  
  /*Footer bottom*/
  section#footer-bottom {
    background: rgb(214, 235, 235);
  }
  
  section#footer-bottom .container {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid black;
    height: 150px;
  }
  section#footer-bottom .social {
    width: 70%;
  
    margin-left: 50px;
  }
  section#footer-bottom .social ul {
    display: flex;
    justify-content: space-between;
  }
  
  section#footer-bottom .social ul li {
    list-style-type: none;
  }
  
  section#footer-bottom .social ul li a {
    list-style-type: none;
    color: black;
  }
  section#footer-bottom .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }
  